<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="public/assets/images/LUCENEX_LOGO_BW.png" alt="Lucenex Logo" style="max-width: 100%; height: auto; width: 200px;">
        </div>
        <h1 class="headline">Welcome to Lucenex</h1>
        <p>Innovative solutions for a digital world. Join our mailing list to stay updated on our latest products and services.</p>
        <form action="https://formspree.io/f/mblglrbz" method="POST">
            <input type="email" name="email" placeholder="Enter your email" required>
            <button type="submit">Subscribe</button>
        </form>
        <div class="social-icons">
            <a href="https://instagram.com/lucenex.lv" target="_blank" aria-label="instagram"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/company/lucenex" target="_blank" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://github.com/luceneX" target="_blank" aria-label="GitHub"><i class="fab fa-github"></i></a>
        </div>
    </div>
</body>
</html>
